<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" href="/plugs/layui/css/layui.css">
	<script src="/plugs/layui/layui.js"></script>
	<script src="/plugs/layui/lay/modules/jquery.js"></script>
</head>
<body>
<div>
	<h1 align="center">不通过原因:</h1>
</div>
<form id="theForm" method="post" onsubmit="return false" class="layui-form" action="##">
	<input id="uid" type="hidden" name="pId" th:value="${id}">
	<input id="uid" type="hidden" name="adminId" th:value="${session.admin.adminId}">
	<textarea  id="rea" name="reason"   cols="80"   rows="14"   style="OVERFLOW:   hidden"></textarea>
	<div align="center">
		<button type="submit" lay-submit="" lay-filter="demo1" class="layui-btn layui-btn-normal">发送</button>
	</div>
</form>
<script type="text/javascript">
    layui.use(['jquery','form'], function() {
        var $ = layui.jquery,
			form = layui.form;

        form.on('submit(demo1)',function (data) {
            $.getJSON('/noPass',data.field,function (res) {
				if (res){
                    layer.msg('操作成功');
                    parent.layer.closeAll();
                    window.parent.location.reload();
				}else {
                    layer.msg('操作失败');
				}
            })
			alert(data.field);
        })
        /*function noPassReason() {
            var adminId = $("#uid").val();
            var reason = $("#rea").val();
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/noPass",//url
                data: {"adminId": adminId, "reason": reason},
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result == 1) {
                        parent.layer.closeAll();
                        window.parent.location.reload();
                    } else {
                        alert("操作失败！")
                    }
                    ;
                }
            });
        }*/
    })
</script>
</body>
</html>
