<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息添加</title>
    <link rel="stylesheet" href="/plugs/layui/css/layui.css">
    <script src="/plugs/layui/layui.js"></script>
</head>

<body >


<div align="center" style="padding-top: 20px"><h1>大同市流动人口信息详情</h1></div>
<div style="float: top;margin-top: 20px">
<div style="float: left;padding-left: 50px">
    <form class="layui-form layui-form-pane" lay-filter="formTest" action="">
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="layui-col-xs11">
                    <div class="grid-demo">
                        <div class="layui-form-item">
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                                <legend>个人信息</legend>
                            </fieldset>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">曾用名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="nameUsedBefore" placeholder="请输入曾用名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                                    <input type="hidden" id="img_url" name="photo" value=""/>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="picture" width="50px" height="50px">
                                        <p id="demoText"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" value="1" title="男" lay-verify="otherReq">
                            <input type="radio" name="sex" value="0" title="女" checked  lay-verify="otherReq">
                        </div>
                    </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">来本地时间</label>
                                <div class="layui-input-block">
                                    <input type="text" name="cometime" class="layui-input" required  lay-verify="required" id="pdate">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">身份证号</label>
                                <div class="layui-input-block">
                                    <input type="text" name="idCard"  lay-verify="required|identity" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">民族</label>
                                <div class="layui-input-inline">
                                    <select name="nationId"  lay-verify="required">
                                        <option value="">请选择民族</option>
                                        <option th:each="nation:${dictionary.nation}" th:value="${nation.dictionaryId}" th:text="${nation.dictionaryName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">户籍</label>
                            <div class="layui-input-inline">
                                <select lay-filter="province" lay-verify="required">
                                    <option value="">请选择省</option>
                                    <option th:each="province:${provinces}" th:value="${province.provinceCode}" th:text="${province.provinceName}"></option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="householdCityCode" class="layui-form" id="city"  lay-verify="required">
                                    <option value="">请选择市</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">现居住地址</label>
                            <div class="layui-input-inline">
                                <select>
                                    <option value="">山西省</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select>
                                    <option value="">大同市</option>

                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select lay-filter="countyNow"  lay-verify="required">
                                    <option value="">请选择县/区</option>
                                    <option th:each="county:${counties}" th:value="${county.countyCode}" th:text="${county.countyName}"></option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select id="townNow"  lay-verify="required">
                                    <option value="">请选择乡/镇</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" required  lay-verify="required" placeholder="详细地址" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <legend>本人联系方式</legend>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">固定电话</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="fixedPhone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">移动电话</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="phone" lay-verify="phone" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">文化程度</label>
                                <div class="layui-input-inline">
                                    <select name="educationLevelId"  lay-verify="required">
                                        <option value="">请选择</option>
                                        <option th:each="edu:${dictionary.educationLevel}" th:value="${edu.dictionaryId}" th:text="${edu.dictionaryName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">政治面貌</label>
                                <div class="layui-input-inline">
                                    <select name="politicalOutlookId"  lay-verify="required">
                                        <option value="">请选择</option>
                                        <option th:each="outlook:${dictionary.politicalOutlook}" th:value="${outlook.dictionaryId}" th:text="${outlook.dictionaryName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">宗教信仰</label>
                                <div class="layui-input-inline">
                                    <select name="faithId"  lay-verify="required">
                                        <option value="">请选择</option>
                                        <option th:each="faith:${dictionary.faith}" th:value="${faith.dictionaryId}" th:text="${faith.dictionaryName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <legend>身体状况</legend>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">身高</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="height" lay-verify="required|number" autocomplete="off" class="layui-input">
                                </div>
                                <label class="layui-form-label">cm</label>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">体重</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="weight" required lay-verify="required|number" autocomplete="off" class="layui-input">
                                </div>
                                <label class="layui-form-label">公斤</label>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">血型</label>
                                <div class="layui-input-inline">
                                    <select name="bloodTypeId"  lay-verify="required">
                                        <option value="">请选择血型</option>
                                        <option th:each="blood:${dictionary.bloodType}" th:value="${blood.dictionaryId}" th:text="${blood.dictionaryName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">健康状况</label>
                                <div class="layui-input-inline">
                                    <select name="healthy"  lay-verify="required" lay-filter="healthy">
                                        <option value="">请选择健康状况</option>
                                        <option th:each="healthy:${dictionary.healthy}" th:value="${healthy.dictionaryId}" th:text="${healthy.dictionaryName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline" style="display: none" id="disabilityCode">
                                <label class="layui-form-label">残疾证编号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="disabilityCode" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">从业状况</label>
                                <div class="layui-input-inline">
                                    <select name="employmentStateId"  lay-verify="required">
                                        <option value="">请选择从业状况</option>
                                        <option th:each="emp:${dictionary.employmentState}" th:value="${emp.dictionaryId}" th:text="${emp.dictionaryName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">婚姻状况</label>
                                <div class="layui-input-inline">
                                    <select name="maritalStateId"  lay-verify="required" lay-filter="marital">
                                        <option value="">请选择婚姻状况</option>
                                        <option th:each="mar:${dictionary.maritalState}" th:value="${mar.dictionaryId}" th:text="${mar.dictionaryName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                </div>
                </div>

                <div class="layui-col-xs11" id="spouse" style="display: none">
                <div class="layui-form-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>配偶信息</legend>
                </fieldset>
            </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">配偶姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="spouseName" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">配偶身份号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="spouseIdCard" lay-verify="required|identity" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">现居住详细地址</label>
                    <div class="layui-input-inline">
                        <select lay-filter="provinceSpouse">
                            <option value="">请选择省</option>
                            <option th:each="province:${provinces}" th:value="${province.provinceCode}" th:text="${province.provinceName}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select id="citySpouse" lay-filter="citySpouse">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="spouseCountyCode" id="countySpouse">
                            <option value="">请选择县/区</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="spouseAddress" lay-verify="required" placeholder="详细地址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">从业状况</label>
                        <div class="layui-input-inline">
                            <select name="spouseEmploymentStateId">
                                <option value="">请选择从业状况</option>
                                <option th:each="emp:${dictionary.employmentState}" th:value="${emp.dictionaryId}" th:text="${emp.dictionaryName}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">工作单位</label>
                        <div class="layui-input-inline">
                            <input type="text" name="spouseWorkUnit" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">本人联系电话</label>
                        <div class="layui-input-inline">
                            <input type="text" name="spousePhone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>

                <div class="layui-col-xs11" id="memberInfo">
                    <div class="layui-form-item">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>同住家庭成员</legend>
                        </fieldset>
                    </div>
                    <div class="layui-form-item">
                        <input type="hidden" name="familyMember" value="">
                        <button type="button" id="member" class="layui-btn layui-btn-primary layui-btn-sm">添加一行</button>
                    </div>
                    <table border="1" style="width: 900px;text-align: center" id="memberTab">
                        <tr style="height: 50px;">
                            <td style="width: 100px;">关系</td>
                            <td>身份号码</td>
                            <td style="width: 100px;">姓名</td>
                            <td>性别</td>
                            <td style="width: 90px;">出生日期</td>
                            <td>有误预防接种证</td>
                            <td>是否在本市就学</td>
                        </tr>
                        <tr>
                            <td>
                                <select name="relationId" id="relationId">
                                    <option value="">关系</option>
                                    <option th:each="relation:${dictionary.relation}" th:value="${relation.dictionaryId}" th:text="${relation.dictionaryName}"></option>
                                </select>
                            </td>
                            <td>
                                <input class="layui-input" id="idcard" placeholder="身份证号"/>
                            </td>
                            <td>
                                <input class="layui-input" id="mName"  placeholder="姓名"/>
                            </td>
                            <td>
                                <input type="radio"  name="memberSex" value="1" title="男">
                                <input type="radio" name="memberSex" value="0" title="女" checked>
                            </td>
                            <td>
                                <input type="text" class="layui-input" id="birth" value="123" placeholder="出生日期">
                            </td>
                            <td> <input type="radio" name="hasVaccinate" value="1" title="是">
                                <input type="radio" name="hasVaccinate" value="0" title="否" checked></td>
                            <td>
                                <input type="radio" name="isLocal" value="1" title="是">
                                <input type="radio" name="isLocal" value="0" title="否" checked>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layui-col-xs11" id="planning" style="display: none">
                    <div class="layui-form-item">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>计生信息</legend>
                        </fieldset>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                        <label class="layui-form-label">夫妻同行</label>
                        <div class="layui-input-block">
                            <input type="radio" name="isTogether" value="1" title="是">
                            <input type="radio" name="isTogether" value="0" title="否" checked>
                        </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">婚育证明</label>
                            <div class="layui-input-block">
                                <input type="radio" name="hasProve" value="1" title="有">
                                <input type="radio" name="hasProve" value="0" title="无" checked>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">婚育证编号</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="number"  autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否验证</label>
                            <div class="layui-input-block">
                                <input type="radio" name="isChecked" value="1" title="是">
                                <input type="radio" name="isChecked" value="0" title="否" checked>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <legend>生育情况</legend>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">生育子女数</label><label class="layui-form-label">男</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="boyNum" autocomplete="off" class="layui-input">
                            </div>
                            <label class="layui-form-label">人</label>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">女</label>
                            <div class="layui-input-inline">
                                <input type="text" name="girlNum" autocomplete="off" class="layui-input">
                            </div>
                            <label class="layui-form-label">人</label>
                        </div>
                        </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">政策内</label>
                            <div class="layui-input-inline">
                                <input type="text" name="insideNum"  autocomplete="off" class="layui-input">
                            </div>
                            <label class="layui-form-label">孩</label>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">政策外</label>
                            <div class="layui-input-inline">
                                <input type="text" name="outsideNum" autocomplete="off" class="layui-input">
                            </div>
                            <label class="layui-form-label">孩</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">独生育子女证</label>
                            <div class="layui-input-block">
                                <input type="radio" name="hasCertificate" value="1" title="有">
                                <input type="radio" name="hasCertificate" value="0" title="无" checked>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">社会抚养费</label>
                            <div class="layui-input-block">
                                <input type="radio" name="isLevy" value="1" title="已缴">
                                <input type="radio" name="isLevy" value="0" title="未缴" checked>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                    <label class="layui-form-label">怀孕避孕情况</label>
                    <div class="layui-input-inline">
                        <select name="pregnancyInfoId">
                            <option value="">请选择</option>
                            <option th:each="pregnant:${dictionary.pregnancyInfo}" th:value="${pregnant.dictionaryId}" th:text="${pregnant.dictionaryName}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <label class="layui-form-label">措施时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="measure" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">当年生育子女</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="childSex" value="1" title="男">
                            <input type="radio" name="childSex" value="0" title="女">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">出生日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="childBirthdayStr" autocomplete="off" class="layui-input" id="childData">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">政策外</label>
                            <div class="layui-input-block">
                                <input type="radio" name="isInside" value="1" title="内">
                                <input type="radio" name="isInside" value="0" title="外">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs11">
                    <div class="layui-form-item">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>就业信息</legend>
                        </fieldset>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">单位名称</label>
                            <div class="layui-input-inline">
                                <input type="hidden" name="companyId" th:value="${session.user.unitId}">
                                <input type="hidden" name="unitId" th:value="${session.user.unitId}">
                                <input type="text" name="unitName" th:value="${session.user.unitName}" required lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">单位类型</label>
                            <div class="layui-input-inline">
                                <select name="unitTypeId"  lay-verify="required">
                                    <option value="">请选择</option>
                                    <option th:each="utype:${dictionary.unitType}" th:selected="${session.user.unitTypeId}==${utype.dictionaryId}?true:false"  th:value="${utype.dictionaryId}" th:text="${utype.dictionaryName}">请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">单位地址</label>
                        <div class="layui-input-inline">
                            <select>
                                <option value="">山西省</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select>
                                <option value="">大同市</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="unitCountyCode"  lay-verify="required" lay-filter="countyUnit">
                                <option value="">请选择县/区</option>
                                <option th:each="county:${counties}" th:selected="${session.user.unitCountyCode}==${county.countyCode}?true:false" th:value="${county.countyCode}" th:text="${county.countyName}"></option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="unitTownCode"  lay-verify="required" id="townUnit">
                                <option value="">请选择乡/镇</option>
                                <input th:value="${session.user.unitTownCode}" type="hidden" id="townCode">
                            </select>

                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="unitAddress" th:value="${session.user.unitAddress}!=''?${session.user.unitAddress}:''" required  lay-verify="required" placeholder="详细地址" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">组织机构代码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="organizationCode" th:value="${session.user.organizationCode}!=''?${session.user.organizationCode}:''" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">法人代表</label>
                            <div class="layui-input-inline">
                                <input type="text" name="legalPersonName" th:value="${session.user.legalPersonName}!=''?${session.user.legalPersonName}:''" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="unitPhone" th:value="${session.user.unitPhone}!=''?${session.user.unitPhone}:''" lay-verify="phone" autocomplete="off" class="layui-input" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">劳动合同</label>
                        <div class="layui-input-inline">
                            <input type="text" name="contractYear" lay-verify="required|number" autocomplete="off" class="layui-input" placeholder="输入合同年限">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">保险</label>
                        <div class="layui-input-inline">
                            <input type="checkbox"  lay-verify="required" name="insuranceIds" th:each="insurance:${dictionary.insurance}" th:value="${insurance.dictionaryId}" th:title="${insurance.dictionaryName}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">社会社保号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="unitSocial" th:value="${session.user.unitSocial}!=''?${session.user.unitSocial}:''" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">单位编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="unitNum" th:value="${session.user.unitNum}!=''?${session.user.unitNum}:''" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用工人数</label>
                            <div class="layui-input-inline">
                                <input type="text" name="workerNum" th:value="${session.user.workerNum}!=''?${session.user.workerNum}:''" lay-verify="required|number" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">行业类别</label>
                            <div class="layui-input-inline">
                                <select name="industryCategoryId"  lay-verify="required">
                                    <option value="">请选择</option>
                                    <option th:each="industry:${dictionary.industryCategory}" th:selected="${session.user.industryCategoryId}==${industry.dictionaryId}?true:false" th:value="${industry.dictionaryId}" th:text="${industry.dictionaryName}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">职称</label>
                            <div class="layui-input-inline">
                                <select name="positionalTitleId"  lay-verify="required">
                                    <option value="">请选择</option>
                                    <option th:each="title:${dictionary.positionalTitle}" th:value="${title.dictionaryId}" th:text="${title.dictionaryName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">职业技能等级</label>
                            <div class="layui-input-inline">
                                <select name="skillId"  lay-verify="required">
                                    <option value="">请选择</option>
                                    <option th:each="skill:${dictionary.skill}" th:value="${skill.dictionaryId}" th:text="${skill.dictionaryName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">职业</label>
                            <div class="layui-input-inline">
                                <input type="text" name="occupation" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="layui-col-xs11">
                    <div class="layui-form-item">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>居住信息</legend>
                        </fieldset>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">居住方式</label>
                            <div class="layui-input-inline">
                                <select name="livingStyleId" lay-verify="required">
                                    <option value="">请选择</option>
                                    <option th:each="style:${dictionary.livingStyle}" th:value="${style.dictionaryId}" th:text="${style.dictionaryName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">居住事由</label>
                            <div class="layui-input-inline">
                                <select name="reasonForResidenceId"  lay-verify="required">
                                    <option value="">请选择</option>
                                    <option th:each="reason:${dictionary.reasonForResidence}" th:value="${reason.dictionaryId}" th:text="${reason.dictionaryName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">房屋类别</label>
                            <div class="layui-input-inline">
                                <select name="houseTypeId"  lay-verify="required">
                                    <option value="">请选择</option>
                                    <option th:each="houseType:${dictionary.houseType}" th:value="${houseType.dictionaryId}" th:text="${houseType.dictionaryName}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">房屋地址</label>
                        <div class="layui-input-inline">
                            <select>
                                <option value="">山西省</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select>
                                <option value="">大同市</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select lay-filter="countyHouse"  lay-verify="required">
                                <option value="">请选择县/区</option>
                                <option th:each="county:${counties}" th:value="${county.countyCode}" th:text="${county.countyName}"></option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="residentialTownCode" id="townHouse"  lay-verify="required">
                                <option value="">请选择乡/镇</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="residentialAddres" required  lay-verify="required" placeholder="详细地址" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-form-item">
                            <legend>出租人情况</legend>
                        </div>
                        <div class="layui-input-block">
                            <table class="layui" id="test2" border="1" style="height: 80px;width: 600px;">
                                <tr>
                                    <th>出租人类型</th>
                                    <th>姓名</th>
                                    <th>联系电话</th>
                                    <th style="width: 160px">身份证号</th>
                                    <th>是否签订治安责任书</th>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="lessorType"  lay-verify="required">
                                            <option value="">请选择出租人情况</option>
                                            <option value="1">房东</option>
                                            <option value="0">代理人</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input name="lessorName"  lay-verify="required" class="layui-input">
                                    </td>
                                    <td>
                                        <input name="lessorPhone"  lay-verify="required|phone" class="layui-input">
                                    </td>
                                    <td>
                                        <input name="lessorIdCard"  lay-verify="required|identity" class="layui-input">
                                    </td>
                                    <td>
                                        <input type="radio" name="isSign" value="1" title="是">
                                        <input type="radio" name="isSign" value="0" title="否" checked>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">房屋类型</label>
                            <div class="layui-input-inline">
                                <select name="houseGener"  lay-verify="required">
                                    <option value="">请选择</option>
                                    <option th:each="gener:${dictionary.houseGener}" th:value="${gener.dictionaryId}" th:text="${gener.dictionaryName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">房屋用途</label>
                            <div class="layui-input-inline">
                                <select name="houseUse"  lay-verify="required">
                                    <option value="">请选择</option>
                                    <option th:each="use:${dictionary.houseUse}" th:value="${use.dictionaryId}" th:text="${use.dictionaryName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">信息采集员</label>
                            <div class="layui-input-inline">
                                <input type="text" name="messagePerson" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" id="formSubmit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
</div>
</div>
</body>
<script>
    layui.use(['form', 'layedit', 'laydate','element','upload'], function(){
        var form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate,
            element = layui.element,
            upload = layui.upload,
            $ = layui.jquery;

        form.render('select');

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/savePhoto'
            ,size: 200
            ,accept: 'jpg'
            ,choose: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#picture').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                alert("上传成功"+res.name);
                $("#img_url").val(res.name);

            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //日期
        laydate.render({
            elem: '#childData'
            ,min: '2007-1-1'
            ,max:0
        });
        laydate.render({
            elem: '#pdate'
            ,min: '2007-1-1'
            ,max:0
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            otherReq: function(value,item){
                var $ = layui.$;
                var verifyName=$(item).attr('name')
                    , verifyType=$(item).attr('type')
                    ,formElem=$(item).parents('.layui-form')//获取当前所在的form元素，如果存在的话
                    ,verifyElem=formElem.find('input[name='+verifyName+']')//获取需要校验的元素
                    ,isTrue= verifyElem.is(':checked')//是否命中校验
                    ,focusElem = verifyElem.next().find('i.layui-icon');//焦点元素
                if(!isTrue || !value){
                    //定位焦点
                    focusElem.css(verifyType=='radio'?{"color":"#FF5722"}:{"border-color":"#FF5722"});
                    //对非输入框设置焦点
                    focusElem.first().attr("tabIndex","1").css("outline","0").blur(function() {
                        focusElem.css(verifyType=='radio'?{"color":""}:{"border-color":""});
                    }).focus();
                    return '必填项不能为空';
                }
            },
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            },
            pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            var v = $("select[name=maritalStateId]").val();
            if (v != 602){
                $("#spouse").empty();
                $("#planning").empty();
                data.field = form.val("formTest");
            }

            var arr_box = [];
            $('input[type=checkbox]:checked').each(function() {
                arr_box.push($(this).val());
            });
            var i = [];
            $('#memberInfo input[type=radio]:checked').each(function() {
                i.push($(this).val());
            });
            var member = [];
            var tr = $("select[name=relationId]").parents("tr");
            tr.each(function (index) {
                var one = $(this).find("#relationId").val()+"-";
                one += $(this).find("#mName").val()+"-";
                one += $(this).find("#idcard").val()+"-";
                one += i[i.length/(index+1)-3]+"-"+i[i.length/(index+1)-2]+"-"+i[i.length/(index+1)-1];
                member.push(one);
                //console.log(one);
            })
            data.field.insuranceIds=arr_box.join(",");
            data.field.familyMember=member.join(",");
            $.post("/addPerson",data.field,function (res) {
                alert("yes");

            })
            return false;
        });

        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('example');
            alert(JSON.stringify(data));
        });

        var count = 0;
        $(document).on('click','#member',function(){
            var option = '<option value="0">关系</option>';
            $.getJSON('/getRelation',function (res) {
                for (var i = 0; i < res.length; i++) {
                    option += "<option value='"+res[i].dictionaryId+"'>"+res[i].dictionaryName+"</option>";
                }
            $("#memberTab").append("<tr>\n" +
                "                        <td>\n" +
                "                            <select id='relationId' name='relationId'>\n" +option+
                "                            </select>\n" +
                "                        </td>\n" +
                "                        <td>\n" +
                "                            <input class=\"layui-input\" type='text'  id='idcard'   placeholder='身份证号'/>\n" +
                "                        </td>\n" +
                "                        <td>\n" +
                "                            <input class=\"layui-input\" id='mName'  placeholder=\"姓名\"/>\n" +
                "                        </td>\n" +
                "                        <td>\n" +
                "                            <input type=\"radio\" name='memberSex"+count+"' value=\"1\" title=\"男\">\n" +
                "                            <input type=\"radio\" name='memberSex"+count+"' value=\"0\" title=\"女\" checked>\n" +
                "                        </td>\n" +
                "                        <td>\n" +
                "                            <input type=\"text\" class=\"layui-input\" id=\"birth\" placeholder=\"出生日期\">\n" +
                "                        </td>\n" +
                "                        <td> <input type=\"radio\" name='hasVaccinate"+count+"' value=\"1\" title=\"是\">\n" +
                "                            <input type=\"radio\" name='hasVaccinate"+count+"' value=\"0\" title=\"否\" checked></td>\n" +
                "                        <td>\n" +
                "                            <input type=\"radio\" name='isLocal"+count+"' value=\"1\" title=\"是\">\n" +
                "                            <input type=\"radio\" name='isLocal"+count+"' value=\"0\" title=\"否\" checked>\n" +
                "                        </td>\n" +
                "                    </tr>");
            form.render();
            count+=1;
            })
        });

        form.on('select(marital)', function(data){
            if(data.value==602){
                $("#planning").css('display','block');
                $("#planning input").attr('lay-verify','required|number');
                //$("#planning input[name=insideNum]").attr('lay-verify','required|number');
                $("#planning input[name=childBirthdayStr]").removeAttr('lay-verify');
                $("#spouse").css('display','block');
                $("#spouse input").attr('lay-verify','required');
                $("#spouse input[name='spouseIdCard']").attr('lay-verify','required|identity');
                $("#spouse input[name='spousePhone']").attr('lay-verify','required|phone');
            }else {
                $("#spouse").css('display','none');
                $("#spouse input").removeAttr('lay-verify');
                $("#planning").css('display','none');
                $("#planning input").removeAttr('lay-verify');
            };
        });

        form.on('select(healthy)',function (data) {
            if (data.value==1803){
                $("#disabilityCode").css('display','inline-block');
            }else {
                $("#disabilityCode").css('display','none');
            }
        })

        form.on('select(province)',function (data) {
            $.getJSON('/getCity',{'provinceCode':data.value},function (res) {
                $("#city").empty();
                for(var i=0;i<res.length;i++){
                    $("#city").append("<option value='"+res[i].cityCode+"'>"+res[i].cityName+"</option>")
                }
                form.render('select');
            });
        })

        form.on('select(provinceSpouse)',function (data) {
            $.getJSON('/getCity',{'provinceCode':data.value},function (res) {
                $("#citySpouse").empty();
                for(var i=0;i<res.length;i++){
                    $("#citySpouse").append("<option value='"+res[i].cityCode+"'>"+res[i].cityName+"</option>")
                }
                form.render('select');
            });
        })

        form.on('select(citySpouse)',function (data) {
            $.getJSON('/getCounty',{'cityCode':data.value},function (res) {
                $("#countySpouse").empty();
                for(var i=0;i<res.length;i++){
                    $("#countySpouse").append("<option value='"+res[i].countyCode+"'>"+res[i].countyName+"</option>")
                }
                form.render('select');
            });
        })

        form.on('select(countyNow)', function (data) {
            $.getJSON('/getTown', {'countyCode': data.value}, function (res) {
                $("#townNow").empty();
                for (var i = 0; i < res.length; i++) {
                    $("#townNow").append("<option value='" + res[i].townCode + "'>" + res[i].townName + "</option>")
                }
                form.render('select');
            });
        })

        form.on('select(countyUnit)',function (data) {
            $.getJSON('/getTown',{'countyCode':data.value},function (res) {
                $("#townUnit").empty();
                for(var i=0;i<res.length;i++){
                    $("#townUnit").append("<option value='"+res[i].townCode+"'>"+res[i].townName+"</option>")
                }
                form.render('select');
                selectTown();
            });
        })

        form.on('select(countyHouse)',function (data) {
            $.getJSON('/getTown',{'countyCode':data.value},function (res) {
                $("#townHouse").empty();
                for(var i=0;i<res.length;i++){
                    $("#townHouse").append("<option value='"+res[i].townCode+"'>"+res[i].townName+"</option>")
                }
                form.render('select');
            });
        })

        $(document).on('blur',"input[placeholder='身份证号']",function(){
            var IDNumber = $(this).val();
            var strYear = IDNumber.substring(6,10);
            var strMonth = IDNumber.substring(10,12);
            var strDay = IDNumber.substring(12,14);
            var birth = strYear+"-"+strMonth+"-"+strDay;
            $(this).parents("tr").find("#birth").val(birth);
        })

        $(document).ready(function () {
            var code = $('select[name=unitCountyCode]').val();
            $('select[name="unitCountyCode"]').next().find('.layui-select-title input').click();
            $('select[name="unitCountyCode"]').next().find('.layui-anim').children('dd[lay-value='+code+']').click();
        })

        function selectTown() {
            var t = $("#townCode").val();
            $('select[name="unitTownCode"]').next().find('.layui-anim').children('dd[lay-value='+t+']').click();
        }


    });
</script>
</html>