<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datong.dao.AddressCountyMapper">
  <resultMap id="BaseResultMap" type="com.example.datong.model.AddressCounty">
    <id column="county_id" jdbcType="INTEGER" property="countyId" />
    <result column="county_code" jdbcType="VARCHAR" property="countyCode" />
    <result column="county_name" jdbcType="VARCHAR" property="countyName" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
  </resultMap>
  <sql id="Base_Column_List">
    county_id, county_code, county_name, city_code
  </sql>
  <select id="selectCounty" resultMap="BaseResultMap">
    SELECT * FROM address_county
  </select>
  <select id="selectCountyBy" resultMap="BaseResultMap" >
  	SELECT * FROM address_county WHERE city_code=#{code}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address_county
    where county_id = #{countyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address_county
    where county_id = #{countyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.datong.model.AddressCounty">
    insert into address_county (county_id, county_code, county_name, 
      city_code)
    values (#{countyId,jdbcType=INTEGER}, #{countyCode,jdbcType=VARCHAR}, #{countyName,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.datong.model.AddressCounty">
    insert into address_county
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="countyId != null">
        county_id,
      </if>
      <if test="countyCode != null">
        county_code,
      </if>
      <if test="countyName != null">
        county_name,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="countyId != null">
        #{countyId,jdbcType=INTEGER},
      </if>
      <if test="countyCode != null">
        #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="countyName != null">
        #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.datong.model.AddressCounty">
    update address_county
    <set>
      <if test="countyCode != null">
        county_code = #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="countyName != null">
        county_name = #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
    </set>
    where county_id = #{countyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.datong.model.AddressCounty">
    update address_county
    set county_code = #{countyCode,jdbcType=VARCHAR},
      county_name = #{countyName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR}
    where county_id = #{countyId,jdbcType=INTEGER}
  </update>

  <select id="selectByCityCode" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from address_county
    where city_code = #{cityCode,jdbcType=VARCHAR}
  </select>
</mapper>