<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datong.dao.AddressCityMapper">
  <resultMap id="BaseResultMap" type="com.example.datong.model.AddressCity">
    <id column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
  </resultMap>
  <sql id="Base_Column_List">
    city_id, city_code, city_name, province_code
  </sql>
  <select id="selectCity" resultMap="BaseResultMap">
    SELECT * FROM address_city
  </select>
  <select id="selectProvinceByCityCode" resultType="java.lang.String">
    select c.province_code from address_city  c where city_code=#{code}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address_city
    where city_id = #{cityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address_city
    where city_id = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.datong.model.AddressCity">
    insert into address_city (city_id, city_code, city_name, 
      province_code)
    values (#{cityId,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.datong.model.AddressCity">
    insert into address_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        city_id,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.datong.model.AddressCity">
    update address_city
    <set>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.datong.model.AddressCity">
    update address_city
    set city_code = #{cityCode,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR}
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByProvinceCode" resultMap="BaseResultMap" parameterType="string">
    SELECT * FROM address_city WHERE province_code=#{provinceCode}
  </select>
</mapper>