<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datong.dao.CompanyRegistrationInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.datong.model.CompanyRegistrationInfo">
    <id column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unit_phone" jdbcType="CHAR" property="unitPhone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="unit_county_code" jdbcType="VARCHAR" property="unitCountyCode" />
    <result column="unit_town_code" jdbcType="VARCHAR" property="unitTownCode" />
    <result column="unit_type_id" jdbcType="INTEGER" property="unitTypeId" />
    <result column="unit_address" jdbcType="VARCHAR" property="unitAddress" />
    <result column="unit_num" jdbcType="VARCHAR" property="unitNum" />
    <result column="unit_social" jdbcType="VARCHAR" property="unitSocial" />
    <result column="industry_category_id" jdbcType="VARCHAR" property="industryCategoryId" />
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="worker_num" jdbcType="VARCHAR" property="workerNum" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_checked" jdbcType="INTEGER" property="isChecked" />
  </resultMap>
  <sql id="Base_Column_List">
    unit_id, unit_name, unit_phone, password, unit_county_code, unit_town_code, unit_type_id, 
    unit_address, unit_num, unit_social, industry_category_id, organization_code, legal_person_name, 
    worker_num, gmt_create, gmt_modified, is_checked
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company_registration_info
    where unit_id = #{unitId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company_registration_info
    where unit_id = #{unitId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.datong.model.CompanyRegistrationInfo">
    insert into company_registration_info (unit_name, unit_phone,
      password, unit_county_code, unit_town_code, 
      unit_type_id, unit_address, unit_num, 
      unit_social, industry_category_id, organization_code, 
      legal_person_name, worker_num, gmt_create, 
      gmt_modified, is_checked)
    values (#{unitName,jdbcType=VARCHAR}, #{unitPhone,jdbcType=CHAR},
      #{password,jdbcType=VARCHAR}, #{unitCountyCode,jdbcType=VARCHAR}, #{unitTownCode,jdbcType=VARCHAR}, 
      #{unitTypeId,jdbcType=INTEGER}, #{unitAddress,jdbcType=VARCHAR}, #{unitNum,jdbcType=VARCHAR}, 
      #{unitSocial,jdbcType=VARCHAR}, #{industryCategoryId,jdbcType=VARCHAR}, #{organizationCode,jdbcType=VARCHAR}, 
      #{legalPersonName,jdbcType=VARCHAR}, #{workerNum,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isChecked,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.datong.model.CompanyRegistrationInfo">
    insert into company_registration_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="unitPhone != null">
        unit_phone,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="unitCountyCode != null">
        unit_county_code,
      </if>
      <if test="unitTownCode != null">
        unit_town_code,
      </if>
      <if test="unitTypeId != null">
        unit_type_id,
      </if>
      <if test="unitAddress != null">
        unit_address,
      </if>
      <if test="unitNum != null">
        unit_num,
      </if>
      <if test="unitSocial != null">
        unit_social,
      </if>
      <if test="industryCategoryId != null">
        industry_category_id,
      </if>
      <if test="organizationCode != null">
        organization_code,
      </if>
      <if test="legalPersonName != null">
        legal_person_name,
      </if>
      <if test="workerNum != null">
        worker_num,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isChecked != null">
        is_checked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitPhone != null">
        #{unitPhone,jdbcType=CHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="unitCountyCode != null">
        #{unitCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="unitTownCode != null">
        #{unitTownCode,jdbcType=VARCHAR},
      </if>
      <if test="unitTypeId != null">
        #{unitTypeId,jdbcType=INTEGER},
      </if>
      <if test="unitAddress != null">
        #{unitAddress,jdbcType=VARCHAR},
      </if>
      <if test="unitNum != null">
        #{unitNum,jdbcType=VARCHAR},
      </if>
      <if test="unitSocial != null">
        #{unitSocial,jdbcType=VARCHAR},
      </if>
      <if test="industryCategoryId != null">
        #{industryCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode != null">
        #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="workerNum != null">
        #{workerNum,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isChecked != null">
        #{isChecked,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.datong.model.CompanyRegistrationInfo">
    update company_registration_info
    <set>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitPhone != null">
        unit_phone = #{unitPhone,jdbcType=CHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="unitCountyCode != null">
        unit_county_code = #{unitCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="unitTownCode != null">
        unit_town_code = #{unitTownCode,jdbcType=VARCHAR},
      </if>
      <if test="unitTypeId != null">
        unit_type_id = #{unitTypeId,jdbcType=INTEGER},
      </if>
      <if test="unitAddress != null">
        unit_address = #{unitAddress,jdbcType=VARCHAR},
      </if>
      <if test="unitNum != null">
        unit_num = #{unitNum,jdbcType=VARCHAR},
      </if>
      <if test="unitSocial != null">
        unit_social = #{unitSocial,jdbcType=VARCHAR},
      </if>
      <if test="industryCategoryId != null">
        industry_category_id = #{industryCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode != null">
        organization_code = #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="workerNum != null">
        worker_num = #{workerNum,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isChecked != null">
        is_checked = #{isChecked,jdbcType=INTEGER},
      </if>
    </set>
    where unit_id = #{unitId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.datong.model.CompanyRegistrationInfo">
    update company_registration_info
    set unit_name = #{unitName,jdbcType=VARCHAR},
      unit_phone = #{unitPhone,jdbcType=CHAR},
      password = #{password,jdbcType=VARCHAR},
      unit_county_code = #{unitCountyCode,jdbcType=VARCHAR},
      unit_town_code = #{unitTownCode,jdbcType=VARCHAR},
      unit_type_id = #{unitTypeId,jdbcType=INTEGER},
      unit_address = #{unitAddress,jdbcType=VARCHAR},
      unit_num = #{unitNum,jdbcType=VARCHAR},
      unit_social = #{unitSocial,jdbcType=VARCHAR},
      industry_category_id = #{industryCategoryId,jdbcType=VARCHAR},
      organization_code = #{organizationCode,jdbcType=VARCHAR},
      legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      worker_num = #{workerNum,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_checked = #{isChecked,jdbcType=INTEGER}
    where unit_id = #{unitId,jdbcType=INTEGER}
  </update>

  <select id="findByPhone" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company_registration_info
    where unit_phone = #{phone,jdbcType=VARCHAR}
  </select>
</mapper>