<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datong.dao.FloatingPopulationMapper">
  <resultMap id="BaseResultMap" type="com.example.datong.model.FloatingPopulation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_used_before" jdbcType="VARCHAR" property="nameUsedBefore" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="photo" jdbcType="VARCHAR" property="photo"/>
    <result column="id_card" jdbcType="CHAR" property="idCard" />
    <result column="fixed_phone" jdbcType="VARCHAR" property="fixedPhone" />
    <result column="household_city_code" jdbcType="VARCHAR" property="householdCityCode" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="nation_id" jdbcType="INTEGER" property="nationId" />
    <result column="come_time" jdbcType="DATE" property="comeTime" />
    <result column="education_level_id" jdbcType="INTEGER" property="educationLevelId" />
    <result column="political_outlook_id" jdbcType="INTEGER" property="politicalOutlookId" />
    <result column="faith_id" jdbcType="INTEGER" property="faithId" />
    <result column="height" jdbcType="DOUBLE" property="height" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="blood_type_id" jdbcType="INTEGER" property="bloodTypeId" />
    <result column="healthy" jdbcType="INTEGER" property="healthy" />
    <result column="disability_code" jdbcType="VARCHAR" property="disabilityCode" />
    <result column="employment_state_id" jdbcType="INTEGER" property="employmentStateId" />
    <result column="marital_state_id" jdbcType="INTEGER" property="maritalStateId" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_checked" jdbcType="INTEGER" property="isChecked" />
    <result column="check_reason_id" jdbcType="INTEGER" property="checkReasonId"/>
    <result column="company_id" jdbcType="INTEGER" property="companyId"/>
    <association property="addressCitys" javaType="com.example.datong.model.AddressCity">
      <id column="city_id" jdbcType="INTEGER" property="cityId"/>
      <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
      <result column="city_name" jdbcType="VARCHAR" property="cityName" />
      <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    </association>
    <association property="residentialInfo" javaType="com.example.datong.model.ResidentialInfo">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="p_id" jdbcType="INTEGER" property="pId" />
      <result column="residential_town_code" jdbcType="VARCHAR" property="residentialTownCode" />
      <result column="residential_addres" jdbcType="VARCHAR" property="residentialAddres" />
      <result column="living_style_id" jdbcType="INTEGER" property="livingStyleId" />
      <result column="reason_for_residence_id" jdbcType="INTEGER" property="reasonForResidenceId" />
      <result column="house_type_id" jdbcType="INTEGER" property="houseTypeId" />
      <result column="house_gener" jdbcType="INTEGER" property="houseGener" />
      <result column="house_use" jdbcType="INTEGER" property="houseUse" />
      <result column="message_person" jdbcType="VARCHAR" property="messagePerson" />
    </association>
    <association property="addressTown" javaType="com.example.datong.model.AddressTown">
      <id column="town_id" jdbcType="INTEGER" property="townId" />
      <result column="town_code" jdbcType="VARCHAR" property="townCode" />
      <result column="town_name" jdbcType="VARCHAR" property="townName" />
      <result column="county_code" jdbcType="VARCHAR" property="countyCode" />
    </association>
    <association property="addressCounty" javaType="com.example.datong.model.AddressCounty">
      <id column="county_id" jdbcType="INTEGER" property="countyId" />
      <result column="county_code" jdbcType="VARCHAR" property="countyCode" />
      <result column="county_name" jdbcType="VARCHAR" property="countyName" />
      <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    </association>
  </resultMap>

  <resultMap id="super" type="com.example.datong.dto.SuperFloatingPopulation" extends="BaseResultMap">
    <result column="dictionary_name"  property="dictionaryName"/>
    <result column="unit_name"  property="unitName"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, name, name_used_before, sex,photo, id_card, fixed_phone, household_city_code, phone,
    nation_id, come_time, education_level_id, political_outlook_id, faith_id, height, 
    weight, blood_type_id, healthy, disability_code, employment_state_id, marital_state_id, is_del,
    state, gmt_create, gmt_modified, is_checked,check_reason_id,company_id
  </sql>
  <select id="selectSelf" resultMap="BaseResultMap" >
   SELECT
         *
    FROM
    floating_population fp
        LEFT JOIN residential_info ri on  fp.id=ri.p_id
    where fp.id=#{id}
  </select>
  <select id="selectPeople" resultMap="BaseResultMap">
    SELECT
    fp.id,fp.name,fp.phone,fp.gmt_create,cr.reason,di.dictionary_name,cri.unit_name
    FROM
    floating_population fp LEFT JOIN check_reason cr  on fp.id=cr.account_id
    LEFT JOIN dictionary di   on di.dictionary_id =fp.is_checked
    LEFT JOIN company_registration_info cri on cri.unit_id=company_id
    where 1=1
    <if test="unit_name ! =null and ! = '' " >
      cri.unit_name LIKE concat("%",#{unit_name},"%")
    </if>
    <if test="time != null and ! =''">
      AND gmt_create BETWEEN #{time} AND #{time2}
    </if>
    <if test="name !=null and ! = ''">
      AND fp.name LIKE concat("%",#{name},"%")
    </if>
    <if test="phone !=null and ! = ''">
      AND fp.phone =#{phone}
    </if>
  </select>

  <update id="updatePass" parameterType="java.lang.Integer">
    update floating_population set is_checked=2102 where id=#{id}
  </update>

  <update id="updateNoPass" parameterType="java.lang.Integer">
    update floating_population set is_checked=2103,check_reason_id=#{reasonId} where id=#{id}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from floating_population
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--我写的关联语句-->
  <select id="selectCountByProvince" resultType="integer">
    select count(*) from floating_population f,address_city c ,residential_info r,address_town t
    where f.household_city_code=c.city_code and r.p_id=f.id and r.residential_town_code=t.town_code
    <if test="county != null and  county!= ''" >
       and t.county_code=#{county}
    </if>
    <if test="town != null and  town!= ''" >
     and t.town_code=#{town}
    </if>
    <if test="time1 != null and  time1!= ''" >
      and f.gmt_create between #{time1} and #{time2}
    </if>
    <if test="provinceCode != null and  provinceCode!= ''" >
      and c.province_code=#{provinceCode}
    </if>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from floating_population
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.datong.model.FloatingPopulation" useGeneratedKeys="true" keyProperty="id">
    <selectKey keyProperty="id" order="AFTER" resultType="integer">
      select LAST_INSERT_ID();
    </selectKey>
    insert into floating_population (name, name_used_before, sex, photo, id_card,
    fixed_phone, household_city_code, phone, nation_id, come_time, education_level_id,
    political_outlook_id, faith_id, height, weight, blood_type_id, healthy,
    disability_code, employment_state_id, marital_state_id, gmt_create,
    gmt_modified,check_reason_id,company_id
      )
    values (#{name,jdbcType=VARCHAR}, #{nameUsedBefore,jdbcType=VARCHAR},
      #{sex,jdbcType=BIT}, #{photo,jdbcType=VARCHAR}, #{idCard,jdbcType=CHAR},
      #{fixedPhone,jdbcType=VARCHAR}, #{householdCityCode,jdbcType=VARCHAR},
      #{phone,jdbcType=CHAR}, #{nationId,jdbcType=INTEGER}, #{comeTime,jdbcType=DATE},
      #{educationLevelId,jdbcType=INTEGER}, #{politicalOutlookId,jdbcType=INTEGER},
      #{faithId,jdbcType=INTEGER}, #{height,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE},
      #{bloodTypeId,jdbcType=INTEGER}, #{healthy,jdbcType=INTEGER},
      #{disabilityCode,jdbcType=VARCHAR}, #{employmentStateId,jdbcType=INTEGER},
      #{maritalStateId,jdbcType=INTEGER},
      #{gmtCreate,jdbcType=TIMESTAMP},#{gmtModified,jdbcType=TIMESTAMP},
      #{checkReasonId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.datong.model.FloatingPopulation">
    insert into floating_population
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nameUsedBefore != null">
        name_used_before,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="fixedPhone != null">
        fixed_phone,
      </if>
      <if test="householdCityCode != null">
        household_city_code,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="nationId != null">
        nation_id,
      </if>
      <if test="comeTime != null">
        come_time,
      </if>
      <if test="educationLevelId != null">
        education_level_id,
      </if>
      <if test="politicalOutlookId != null">
        political_outlook_id,
      </if>
      <if test="faithId != null">
        faith_id,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="bloodTypeId != null">
        blood_type_id,
      </if>
      <if test="healthy != null">
        healthy,
      </if>
      <if test="disabilityCode != null">
        disability_code,
      </if>
      <if test="employmentStateId != null">
        employment_state_id,
      </if>
      <if test="maritalStateId != null">
        marital_state_id,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isChecked != null">
        is_checked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameUsedBefore != null">
        #{nameUsedBefore,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=CHAR},
      </if>
      <if test="fixedPhone != null">
        #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="householdCityCode != null">
        #{householdCityCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="nationId != null">
        #{nationId,jdbcType=INTEGER},
      </if>
      <if test="comeTime != null">
        #{comeTime,jdbcType=DATE},
      </if>
      <if test="educationLevelId != null">
        #{educationLevelId,jdbcType=INTEGER},
      </if>
      <if test="politicalOutlookId != null">
        #{politicalOutlookId,jdbcType=INTEGER},
      </if>
      <if test="faithId != null">
        #{faithId,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="bloodTypeId != null">
        #{bloodTypeId,jdbcType=INTEGER},
      </if>
      <if test="healthy != null">
        #{healthy,jdbcType=INTEGER},
      </if>
      <if test="disabilityCode != null">
        #{disabilityCode,jdbcType=VARCHAR},
      </if>
      <if test="employmentStateId != null">
        #{employmentStateId,jdbcType=INTEGER},
      </if>
      <if test="maritalStateId != null">
        #{maritalStateId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isChecked != null">
        #{isChecked,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.datong.model.FloatingPopulation">
    update floating_population
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameUsedBefore != null">
        name_used_before = #{nameUsedBefore,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=CHAR},
      </if>
      <if test="fixedPhone != null">
        fixed_phone = #{fixedPhone,jdbcType=VARCHAR},
      </if>
      <if test="householdCityCode != null">
        household_city_code = #{householdCityCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="nationId != null">
        nation_id = #{nationId,jdbcType=INTEGER},
      </if>
      <if test="comeTime != null">
        come_time = #{comeTime,jdbcType=DATE},
      </if>
      <if test="educationLevelId != null">
        education_level_id = #{educationLevelId,jdbcType=INTEGER},
      </if>
      <if test="politicalOutlookId != null">
        political_outlook_id = #{politicalOutlookId,jdbcType=INTEGER},
      </if>
      <if test="faithId != null">
        faith_id = #{faithId,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="bloodTypeId != null">
        blood_type_id = #{bloodTypeId,jdbcType=INTEGER},
      </if>
      <if test="healthy != null">
        healthy = #{healthy,jdbcType=INTEGER},
      </if>
      <if test="disabilityCode != null">
        disability_code = #{disabilityCode,jdbcType=VARCHAR},
      </if>
      <if test="employmentStateId != null">
        employment_state_id = #{employmentStateId,jdbcType=INTEGER},
      </if>
      <if test="maritalStateId != null">
        marital_state_id = #{maritalStateId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isChecked != null">
        is_checked = #{isChecked,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.datong.model.FloatingPopulation">
    update floating_population
    set name = #{name,jdbcType=VARCHAR},
      name_used_before = #{nameUsedBefore,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      id_card = #{idCard,jdbcType=CHAR},
      fixed_phone = #{fixedPhone,jdbcType=VARCHAR},
      household_city_code = #{householdCityCode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      nation_id = #{nationId,jdbcType=INTEGER},
      come_time = #{comeTime,jdbcType=DATE},
      education_level_id = #{educationLevelId,jdbcType=INTEGER},
      political_outlook_id = #{politicalOutlookId,jdbcType=INTEGER},
      faith_id = #{faithId,jdbcType=INTEGER},
      height = #{height,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      blood_type_id = #{bloodTypeId,jdbcType=INTEGER},
      healthy = #{healthy,jdbcType=INTEGER},
      disability_code = #{disabilityCode,jdbcType=VARCHAR},
      employment_state_id = #{employmentStateId,jdbcType=INTEGER},
      marital_state_id = #{maritalStateId,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=BIT},
      state = #{state,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_checked = #{isChecked,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectChecking" resultMap="BaseResultMap">
    SELECT f.id,f.`name`,f.phone,f.gmt_create FROM floating_population as f
    WHERE is_checked=#{stateCode} and f.company_id=#{unitId}
  </select>

  <select id="selectCheckingCount" resultType="integer">
    SELECT COUNT(*) FROM floating_population as f
    WHERE is_checked=#{stateCode} and f.company_id=#{unitId}
  </select>

  <resultMap id="noPassed" type="com.example.datong.dto.NoPassedPerson">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="reason" jdbcType="VARCHAR" property="reason"/>
  </resultMap>

  <select id="selectNoPassed"  parameterType="integer" resultMap="noPassed">
    SELECT p.id,p.`name`,p.phone,p.gmt_create,c.reason
    FROM floating_population p,check_reason c
    WHERE p.check_reason_id=c.id AND p.is_checked=2103
     AND p.company_id=#{unitId}
  </select>

  <select id="selectNoPassedCount"  parameterType="integer" resultType="integer">
    SELECT COUNT(*)
    FROM floating_population p,check_reason c
    WHERE p.check_reason_id=c.id AND p.is_checked=2103
     AND p.company_id=#{unitId}
  </select>

  <select id="selectAll" resultMap="super">
    SELECT
    fp.*,cri.unit_name,d.dictionary_name
    FROM
    floating_population fp,company_registration_info cri,dictionary d
    WHERE
    fp.company_id=cri.unit_id
    and
    fp.is_checked=d.dictionary_id
    <if test="unitName !=null and unitName !=''">
      AND cri.unit_name like CONCAT("%",#{unitName},"%")
    </if>
    <if test="name !=null and name !=''">
      AND  fp.name like CONCAT("%",#{name},"%")
    </if>
    <if test="phone !=null and phone !=''">
      AND  fp.phone like CONCAT(#{phone},"%")
    </if>
    <if test="time1 !=null and time1 !=''">
      AND  fp.gmt_create between #{time1} and #{time2}
    </if>
  </select>

</mapper>